<footer class="footer">
    <p class="info">
        <a href="https://www.google.de/maps/place/Sobala-Werbung/@51.8523252,13.7088499,17.06z/data=!4m5!3m4!1s0x47a7fe8bf518fbf9:0x46d31a873abb7322!8m2!3d51.8523609!4d13.7109197" target="_blank"><i class="icon fa fa-map-marker"></i><span>Hauptstraße 31, 15926 Luckau</span></a>
        <a href="tel:+4935442301"><i class="icon fa fa-phone"></i><span>03544 2301</span></a>
        <a href="mailto:info@sobala-werbung.de" target="_top"><i class="icon fa fa-envelope"></i><span>info@sobala-werbung.de</span></a>
        <a href="{{ "/impressum" | prepend: site.baseurl }}">Impressum</a>
    </p>
</footer>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
