<div id="particles-js">
  <div class="header">
      <h1>
        <!-- <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span> -->
        <a href="/"><img src="/assets/img/logo.svg" alt="sobala werbung"></a>
      </h1>
      <h3>Ihr Ansprechpartner für <br/> Werbung, Spielwaren, Büro- und Schulbedarf.</h3>
      <!-- <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div> -->
      <!-- <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div> -->
      <div class="info">
        <div><a href="https://www.google.de/maps/place/Sobala-Werbung/@51.8523252,13.7088499,17.06z/data=!4m5!3m4!1s0x47a7fe8bf518fbf9:0x46d31a873abb7322!8m2!3d51.8523609!4d13.7109197" target="_blank"><i class="icon fa fa-map-marker"></i><span>Hauptstraße 31, 15926 Luckau</span></a></div>
        <div><a href="tel:+4935442301"><i class="icon fa fa-phone"></i><span>03544 2301</span></a></div>
        <div><a href="mailto:info@sobala-werbung.de" target="_top"><i class="icon fa fa-envelope"></i><span>info@sobala-werbung.de</span></a></div>
      </div>
  </div>
  <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
